.root{
    background: rgb(243, 216, 243);
}
.toolbar{
     width: 100%;
     background-color: rgba(111, 18, 119, 0.692);
     position: fixed;
     top: 0;
     left: 0;
     height: 80px;
     z-index: 200;

 }
 .toolbar-nav{
     display: flex;
     height: 100%;
     align-items: center;
     padding: 0 1;
 }
 .spacer{
     flex: 1;
 }
 .toolbar-logo{
     margin-left: 0.5rem;
 }
 .toolbar-logo a{
     color: white;
     font-size: 3rem;
     text-decoration: none;
 }

 .nav-items ul{
     padding: 0;
     margin: 0;
     display: flex;
     font-size: 1.2rem;
 }
 .nav-items li{
     padding: 0 0.5rem;
     text-decoration: none;
     list-style-type: none;
 }
 .nav-items a{
    color: white;
    text-decoration: none;
 }
 .nav-items a:hover,
 .nav-items a:active{
     color:greenyellow;
 }