
.root4{
    display: flex;
    background: rgb(243, 216, 243);
    flex-direction: row;
    height:100%;
    width: 100%;
    justify-content: initial;;
}
.mean-graph{
    margin-top: 30px;
    display: flex;
    width: 50%;

}

.heading{
    display: flex;
    width: 100%;
    margin-top: 140px;
    justify-content: center;
}