.root1{
    display: flex;
    justify-content: center;
    background: rgb(243, 216, 243);
}
  
  .base-container1 {
    left:0;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 265px;
    background: white;
    height: 250px;
    border-radius: 0.5rem;
    border-style: solid;
   border-width: 1px;
   border-color: rebeccapurple;
    
  }
    .header1 {
      font-size: 22px;
      font-family: "Open Sans", sans-serif;
      margin-top: 2rem;
      
    }
  
    .content1 {
      display: flex;
      flex-direction: column;
    }
  
      .form1 {
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
        .form-group1 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: fit-content;
        }
          label {
            font-size: 20px;
          }
          input {
            margin-top: 6px;
            min-width: 80%;
            height: 37px;
            padding: 0px 10px;
            font-size: 16px;
            font-family: "Open Sans", sans-serif;
            background-color: #f3f3f3;
            border: 0;
            border-radius: 4px;
            margin-bottom: 31px;
            transition: all 250ms ease-in-out;
          }
            .input :hover {
              background-color:rgb(229, 220, 235);
              box-shadow: 0px 0px 14px 0.3px #0e81ce96;
            }
  
            input:focus {
              outline: none;
              box-shadow: 0px 0px 12px 0.8px #3474dbb2;
            }
          
        
      
    
  
    .footer {
      margin-top: 1em;
    }
      .btn{
        float: right;
        background: purple;
        border-radius: 4px;
        margin-left: 80px;
        color: white;
      }
    
  
  